<%- include('./layout.html') -%>

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <form action="/search" method="GET">
    <div class="row" style="padding-bottom: 5px;">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search for..." aria-label="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">
                <span class="fa fa-search"></span> ค้นหา
              </button>
              <button class="btn btn-success" type="button">
                <span class="fa fa-plus"></span> เพิ่มรายการ
              </button>
            </span>
          </div>
        </div>
      </div> 
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Active</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      <% users.forEach(v => { %>
        <tr>
            <th scope="row"><%=v.user_id%></th>
            <td><%=v.first_name%></td>
            <td><%=v.last_name%></td>
            <td><%=v.username%></td>
            <td>
              <% if (v.is_active === 'Y') { %>
                <span class="fa fa-check"></span>
                <%} else { %>
                  <span class="fa fa-times"></span>
              <%}%>
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-success">
                  <span class="fa fa-pencil"></span>
                </button>
                <a href="/remove/<%=v.user_id%>" class="btn btn-danger" data-name="btnRemove">
                  <span class="fa fa-trash"></span>
                </a>
              </div>
            </td>
          </tr>
      <% }) %>
      
    </tbody>
  </table>

  <script>
    $(document).ready(() => {

      $(document).on('click', 'a[data-name="btnRemove"]', (e) => {
        if (confirm('Are you sure?.')) {
          return true;
        } else {
          return false;
        }
      });

    });
</script>

  <%- include('./footer.html') -%>