<!doctype html>
<html lang="en">

<head>
  <title><%=title%></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/assets/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <span class="fa fa-users"></span>  Users Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="mr-auto"></div>
      <span class="navbar-text">
        <%if(session.fullname) {%>
          <%=session.fullname%>
          <%} else {%>
            Guest
            <%}%>
      </span>
    </div>
  </nav>

  <div class="container">


